<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather Checker</title>
</head>
<body>

    TODO

    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/morris.js/morris.css" />
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/weather-checker-main.css">
    <!-- endinject -->

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/eve-raphael/eve.js"></script>
    <script src="/lib/raphael/raphael.min.js"></script>
    <script src="/lib/mocha/mocha.js"></script>
    <script src="/lib/morris.js/morris.js"></script>
    <!-- endbower -->

    <!-- inject:js -->
    <script src="/js/weather-checker-main.js"></script>
    <!-- endinject -->

</body>
</html>
